In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

file_path = "C:/Users/ogoo0/Downloads/abalone.csv"
df = pd.read_csv(file_path)

print(df.head())

   id Sex  Length  Diameter  Height  Whole_weight  Shucked_weight  \
0   0   M   0.455     0.365   0.095        0.5140          0.2245
1   1   M   0.350     0.265   0.090        0.2255          0.0995
2   2   F   0.530     0.420   0.135        0.6770          0.2565
3   3   M   0.440     0.365   0.125        0.5160          0.2155
4   4   I   0.330     0.255   0.080        0.2050          0.0895

   Viscera_weight  Shell_weight  Rings
0          0.1010         0.150     15
1          0.0485         0.070      7
2          0.1415         0.210      9
3          0.1140         0.155     10
4          0.0395         0.055      7

In [4]:
df.columns

Index(['id', 'Sex', 'Length', 'Diameter', 'Height', 'Whole_weight',
       'Shucked_weight', 'Viscera_weight', 'Shell_weight', 'Rings'],
      dtype='object')

In [6]:
df['Rings'].value_counts()

Rings
9     689
10    634
8     568
11    487
7     391
12    267
6     259
13    203
14    126
5     115
15    103
16     67
17     58
4      57
18     42
19     32
20     26
3      15
21     14
23      9
22      6
27      2
24      2
1       1
26      1
29      1
2       1
25      1
Name: count, dtype: int64

In [8]:
df.isnull().sum()

id                0
Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Rings             0
dtype: int64

In [10]:
# 결측치 제거
df = df.dropna()
df.isnull().sum()

id                0
Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Rings             0
dtype: int64

In [92]:
X=df.drop('Sex',axis=1)
X.head()

,id,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,0,66,18,18,715,417,199,263,14
1,1,45,17,17,285,178,94,113,6
2,2,81,26,26,962,480,280,374,8
3,3,63,24,24,718,400,225,273,9
4,4,41,15,15,253,159,76,87,6

In [94]:
y = df['Sex']
y.head()

0    2
1    2
2    0
3    2
4    1
Name: Sex, dtype: int64

In [96]:
columns = ['id', 'Sex', 'Length', 'Diameter', 'Height', 'Whole_weight','Shucked_weight', 'Viscera_weight', 'Shell_weight']

In [98]:
label_encoders = {}
df['id'] = label_encoder.fit_transform(df['id'])
df['Sex'] = label_encoder.fit_transform(df['Sex'])
df['Length'] = label_encoder.fit_transform(df['Length'])
df['Diameter'] = label_encoder.fit_transform(df['Height'])
df['Whole_weight'] = label_encoder.fit_transform(df['Whole_weight'])
df['Shucked_weight'] = label_encoder.fit_transform(df['Shucked_weight'])
df['Viscera_weight'] = label_encoder.fit_transform(df['Viscera_weight'])
df['Shell_weight'] = label_encoder.fit_transform(df['Shell_weight'])
df['Rings'] = label_encoder.fit_transform(df['Rings'])

In [100]:
df

,id,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,0,2,66,18,18,715,417,199,263,14
1,1,2,45,17,17,285,178,94,113,6
2,2,0,81,26,26,962,480,280,374,8
3,3,2,63,24,24,718,400,225,273,9
4,4,1,41,15,15,253,159,76,87,6
...,...,...,...,...,...,...,...,...,...,...
4172,4172,0,88,32,32,1289,698,475,442,10
4173,4173,2,93,26,26,1411,832,426,463,9
4174,4174,2,95,40,40,1727,994,571,550,8
4175,4175,0,100,29,29,1610,1005,518,530,9
4176,4176,2,117,38,38,2348,1461,732,813,11

In [103]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X,
                                                  y,
                                                  test_size=0.2,
                                                  shuffle=True,
                                                  random_state=12)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(3341, 9) (3341,)
(836, 9) (836,)

In [105]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(X_train, y_train)
ly_preds = model.predict(X_test)

print('평균제곱근오차', mean_squared_error(ly_preds, y_test))

평균제곱근오차 0.6634012067484456

In [108]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

dy_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(dy_preds, y_test))

평균제곱근오차 1.270334928229665

In [110]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ry_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(ry_preds, y_test))

평균제곱근오차 0.687712081339713

In [ ]:
from sklearn.svm import SVR

model = SVR(kernel='linear')
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ry_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(ry_preds, y_test)) # 오래 걸린댕