In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

file_path = "C:/Users/ogoo0/Downloads/archive/car_evaluation.csv"
df = pd.read_csv(file_path)

print(df.head()) # unacc가 레이블

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [54]:
df.columns

Index(['vhigh', 'vhigh.1', ' 2', '2.1', ' small', '  low', ' unacc'], dtype='object')

In [62]:
df[' unacc'].value_counts()

 unacc
unacc    1209
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [64]:
df.isnull().sum()

vhigh      0
vhigh.1    0
 2         0
2.1        0
 small     0
  low      0
 unacc     0
dtype: int64

In [66]:
# 결측치 제거
df = df.dropna()
df.isnull().sum()

vhigh      0
vhigh.1    0
 2         0
2.1        0
 small     0
  low      0
 unacc     0
dtype: int64

In [70]:
X=df.drop(' unacc',axis=1)
X.head()

   vhigh vhigh.1  2 2.1  small   low
0      3   vhigh  2   2  small   med
1      3   vhigh  2   2  small  high
2      3   vhigh  2   2    med   low
3      3   vhigh  2   2    med   med
4      3   vhigh  2   2    med  high

In [48]:
label_encoder = LabelEncoder()

df['vhigh'] = label_encoder.fit_transform(df['vhigh'])
df['vhigh.1'] = label_encoder.fit_transform(df['vhigh.1'])
df[' 2'] = label_encoder.fit_transform(df[' 2'])
df['2.1'] = label_encoder.fit_transform(df['2.1'])
df['small'] = label_encoder.fit_transform(df['small'])
df['low'] = label_encoder.fit_transform(df['low'])
df['unacc'] = label_encoder.fit_transform(df['unacc'])

df = df.dropna()

print("\n결측치 제거 후 컬럼별 결측치 개수:")
print(df.isnull().sum())

KeyError: 'vhigh.1 '

In [20]:
y = df["unacc"]
X = df.drop("unacc", axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

models = {
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "SVM": SVC(),
    "Logistic Regression": LogisticRegression(max_iter=5000)
}

for name, model in models.items():
    model.fit(X_train, y_train)  
    y_pred = model.predict(X_test)  
    acc = accuracy_score(y_test, y_pred)  
    print(f"{name} Accuracy: {acc:.4f}")

Decision Tree Accuracy: 0.7023
Random Forest Accuracy: 0.7023
SVM Accuracy: 0.6936
Logistic Regression Accuracy: 0.6850